/*body / background*/
body {
  font-family: VT323;
  font-size: 3vh;

  overflow: auto;

  color: #ffffff;

  margin: 0;
  padding: 0;
}

#matrix {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: -999;
  filter: contrast(1.4) brightness(1.2);
}

/*header*/
.images {
  width: 35px;
  height: 35px;
}

details summary {
  list-style: none;
  cursor: pointer;
}

details summary::-webkit-details-marker {
  display: none;
}

details summary::marker {
  content: none;
  font-size: 0;
}

details summary::-moz-list-bullet {
  display: none;
}

.summary-button {
  margin: 0;
  user-select: auto;

  color: white;
  font-size: 32px;
}

details>nav ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 15px;
  list-style: none;
}

.header-links-buttons-container {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 15px;

  transition: background 0.2s ease;
  border-radius: 8px;
}

.header-links-buttons-container:hover {
  background: rgba(36, 78, 143, 0.2);
}

.header-Links-Buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 12px;

  transition: transform 0.2s ease;
  flex-shrink: 0;

  border: none;
  border-radius: 12px;
  background-color: #2B114D;
  width: 60px;
  height: 60px;

  text-decoration: none;
  color: inherit;
}

details>summary {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;

  border: none;
  background: transparent;
  list-style: none;
}

.header-Links-Buttons:hover {
  transform: scale(1.1);
}

.header-links-buttons-container h3 {
  margin: 0;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  flex-grow: 1;
}

/*header end*/

/*main index*/
main {
  position: relative;
  padding-top: 70px;
}

.main-text-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  padding: 30px;
}

.beam {
  width: 36%;
  height: 20px;
  background-color: #00FFFF;
  margin: 20px 0;
}

.sub-buttons-container {
  display: flex;
  justify-content: center;

  gap: 40px;
  margin-top: 20px;

}

.sub-buttons-left {
  border-radius: 39px;
  width: 24%;
  height: 28%;

  background-color: #3B82F6;

  display: flex;
  align-content: center;
  align-items: flex-end;
  justify-content: center;

  text-decoration: none;
  color: inherit;
}

.sub-buttons-right {
  border-radius: 39px;
  width: 24%;
  height: 28%;

  display: flex;
  align-content: center;
  align-items: flex-end;
  justify-content: center;
  justify-content: center;

  background: none;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-inline: 7px solid #3B82F6;

  text-decoration: none;
  color: inherit;
}

.sub-buttons-right h1 {
  color: #3B82F6;
}

.sub-buttons-left h1 {
  color: black;

}

/*main index end*/

/*main about*/

.main-text-about-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  padding: 30px;
  border-radius: 35px;

  background-color: #05223B;

  width: 45%;
  height: 30%;

  margin: auto;

  border: 5px solid #EC4899;
}

.boxes-container {
  border-radius: 39px;
  gap: 18vh;
  padding-top: 5vh;

  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.boxes-design-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.boxes-design-container h2 {
  color: white;

}

.boxes-design {
  border-radius: 39px;
  width: 18vh;
  height: 18vh;

  background-color: none;

  display: flex;


  margin-bottom: 3vh;
}

/*main about end*/
/*footer*/
.background-footer {
  bottom: 0;

  bottom: 0;

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(5px);

  height: 11vh;
  width: 100%;
  height: 11vh;
  width: 100%;
}

.footer-text-container {
  color: white;

  text-align: center;

  font-size: 45%;
  padding-top: 14vh;
}

.footer {
  top: calc(min(100%, 1000px) - 11vh);
}